* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px/1.5 Arial;
  color: #666;
  background-color: #ebebeb;
}

#app {
  max-width: 900px;
  margin: 0 auto;
}

header {
  text-align: center;
  background-color: rgb(46, 46, 46);
  display: flex;
  flex-direction: column;
}

header>h1 {
  margin-top: 60px;
  color: #fff;
}

header .info {
  color: #aaa;
  display: flex;
  justify-content: center;
  margin: 16px 0 20px 0;
}

header .info li {
  margin-left: 20px;
}

#content {
  display: flex;
}

section {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

aside {
  width: 240px;
  padding: 18px;
  background-color: #fff;
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: -90px auto 0 auto;
  background-color: #c1c1c1;
  overflow: hidden;
}

.avatar img {
  height: 100%;
  width: 100%;
}

section .title {
  color: #5c99ca;
  font-size: 16px;
  margin-bottom: 10px;
}

main {
  flex: 1;
  order: 2;
  background-color: bisque;
}

@media screen and (max-width: 780px) {
  #content {
    flex-direction: column;
  }

  aside {
    order: 3;
    width: 100%;
  }
}